<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="confirmation">
    <div class="ion-text-center">

      <h2>Uspešno poručeno!</h2>
      <p>
        Vaša porudžbina je sačuvana. <br />
        Hvala što kupujete kod nas!
      </p>
    </div>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/home" routerDirection="back">Početna stranica</ion-button>
  </ion-toolbar>
</ion-footer>