<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Profil</h1>

  <div class="profile-info">
    <ion-item>
      <ion-label position="floating">Ime</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Adresa</ion-label>
      <ion-input [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-button expand="block" class="main-button" (click)="save()">Sacuvaj</ion-button>
  </div>
</ion-content>
